.DS_Store

# Maven build output
**/target/
**/pom.xml.versionsBackup
**/release.properties
**/dependency-reduced-pom.xml
.mvn/timing.properties

# IDE files
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.factorypath
.vscode/

# OS metadata
Thumbs.db

# Logs & reports
*.log
*.tmp
*.swp

# Coverage & analysis
*.exec
*.ec
*.lcov
.sonarlint/
.scannerwork/

# Generated archives
*.tar.gz
*.zip

#IDE files
.idea/
.vscode/
.project
.settings/
.factorypath
.classpath
.iml
.ipr
.iws


